@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

:root {
  --primaryBlack: #222831;
  --alterBlack: #393e46;
  --primaryWhite: #ffffff;
  --alterWhite: #eeeeee;
  --primaryBlue: #112d4e;
  --alterBlue: #3f72af;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Ubuntu", "Segoe UI", Tahoma, Verdana, sans-serif;
  background-image: URL("../assets/images/interlaced.png");
}

header div:first-child {
  background-color: var(--primaryBlue) !important;
}

main {
  display: flex;
  flex-direction: column;
  gap: 75px;
  padding: 25px;
  background-color: var(--primaryWhite);
}

main section:first-child p {
  text-align: center;
}

main section:nth-child(2) {
  max-width: 800px;
  margin: auto;
}

main section:nth-child(2) img {
  display: block;
  width: 100%;
}

main section:nth-child(4) {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

section:last-child {
  flex-direction: column;
}

footer section:nth-child(2) {
  background-color: var(--alterBlue) !important;
  color: var(--primaryWhite);
}

footer section:last-child {
  background-color: var(--alterWhite);
}

.borda {
  border: 5px solid var(--primaryBlue) !important;
  border-radius: 15px !important;
}

.btn {
  width: 75%;
  border: 2px solid var(--primaryBlue) !important;
  margin: auto;
  background-color: var(--alterBlue) !important;
  color: var(--primaryWhite) !important;
}

ul {
  padding: 0 !important;
  margin: 0 !important;
}

li {
  text-align: center !important;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primaryBlue);
  text-align: center;
}

p {
  text-align: justify;
  font-size: 18px;
}

i {
  color: var(--alterBlue);
}
iframe {
  min-width: 300px;
  max-width: 300px;
  max-height: 350px;
  aspect-ratio: 1;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  body {
    width: 75%;
    margin: auto !important;
  }

  main {
    padding: 150px;
  }

  main .secoes button {
    width: 20%;
  }

  footer section:nth-child(2) {
    flex-direction: row !important;
  }

  footer section:nth-child(2) div {
    width: 50%;
  }

  footer section:last-child {
    flex-direction: row;
  }
}
