@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

:root {
  --primaryBlack: #222831;
  --alterBlack: #393e46;
  --primaryWhite: #ffffff;
  --alterWhite: #eeeeee;
  --primaryBlue: #112d4e;
  --alterBlue: #3f72af;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Ubuntu", "Segoe UI", Tahoma, Verdana, sans-serif;
  background-image: URL("assets/images/interlaced.png");
}

.socio {
  background-color: var(--alterBlue);
  color: var(--primaryWhite);
}

.contatos {
  background-color: var(--alterWhite);
  color: var(--alterBlue);
}

.borda {
  border: 5px solid var(--primaryBlue) !important;
  border-radius: 15px !important;
}

.btn {
  width: 75%;
  border: 2px solid var(--primaryBlue) !important;
  margin: auto;
  background-color: var(--alterBlue) !important;
  color: var(--primaryWhite) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primaryBlue);
  text-align: center;
}

header div:first-child {
  background-color: var(--primaryBlue) !important;
}

ul {
  padding: 0 !important;
  margin: 0 !important;
}

li {
  text-align: center !important;
  list-style-type: none;
}

a {
  color: white !important;
}

p {
  text-align: justify;
  font-size: 18px;
}

a {
  text-decoration: none !important;
  cursor: pointer !important;
}

i {
  color: var(--alterBlue);
}

@media (min-width: 1024px) {
  body {
    width: 75%;
    margin: auto !important;
  }

  header nav ul {
    display: flex;
    flex-direction: row;
  }

  main {
    width: 75%;
    margin: auto;
  }

  main .secoes {
    display: flex !important;
    flex-direction: row !important;
  }

  main .secoes button {
    width: 20%;
  }

  footer .socio {
    display: flex !important;
    flex-direction: row !important;
  }

  footer .socio div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50% !important;
  }

  footer .contatos {
    flex-direction: row !important;
  }
}
